# International Matches

In [4]:
import numpy as np
import pandas as pd
import os

## Dataset

Source:
- https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017
- https://github.com/martj42/international_results

In [7]:
RELATIVE_PATH = os.path.relpath(os.getcwd(), "./dir/dir/")
REAL_PATH = os.path.abspath(RELATIVE_PATH)

In [9]:
file_path = os.path.abspath(REAL_PATH + "/data/International Matches.csv")
data_matches = pd.read_csv(file_path, encoding='UTF-8', delimiter=",")

In [10]:
data_matches.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False